@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  font-size: 1.4rem;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-style: normal;
}
li {
  list-style-type: none;
  padding-right: 1rem;
}
li:last-child {
  padding-right: 0;
}
ul {
  display: flex;
  justify-content: start;
}

.name {
  background-color: orangered;
  border-radius: 50px;
  text-align: center;
  margin: 1rem 0px;
  padding: 0.5rem 0px;
  color: azure;
}
.name.old {
  background-color: palegreen;
  color: black;
}
.name.new {
  background-color: aquamarine;
  color: black;
}
.hero {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  border-bottom: 1px dashed black;
  width: fit-content;
}
